---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<p class="pull-right">
    {% if page.previous.url %} 
    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
        <i class="fa fa-arrow-left"></i>
    </a>   
    {% endif %}   
    {% if page.next.url %}    
    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
        <i class="fa fa-arrow-right"></i>
    </a>   
    {% endif %} 
</p> 
