---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<p class="PageNavigation">
    {% if page.previous.url %} 
    <a class="pull-left" href="{{page.previous.url}}">        
        <i class="fa fa-arrow-left"></i> {{page.previous.title}}
    </a>   
    {% endif %}   
    {% if page.next.url %}    
    <a class="next pull-right" href="{{page.next.url}}">
        {{page.next.title}} <i class="fa fa-arrow-right"></i>
    </a>   
    {% endif %} 
</p> 
